<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
<br><br>
    <h2>My Other Web Dev Projects:</h2>
<br>
    <h4>After School Diaries</h4>
    <img src="/images/school.png" alt="About Image" class="img-fluid" width= "50%px">
<br>
    <a href="https://mihirc0111.github.io/AfterSchoolDiaries-HTML-CSS-JS-BootStrap-Website/">Visit Website</a>
    <br><br>

    <h4>Weather Website</h4>
    <img src="/images/weather.png" alt="About Image" class="img-fluid" width= "50%px">
    <br>
    <a href="https://mihirs-weather-website.onrender.com/">Visit Website</a>
    <br><br>
  
    <h4>Newsletter SignUp</h4>
    <img src="/images/signup.png" alt="About Image" class="img-fluid" width= "50%px">
    <br>
    <a href="https://mihirs-newsletter.onrender.com/">Visit Website</a>
    <br><br>

    <h4>Simon Game</h4>
    <img src="/images/simon.png" alt="About Image" class="img-fluid" width= "50%px">
    <br>
    <a href="https://mihirc0111.github.io/Simon_Game-Using-Jquery-html-css/">Visit Website</a>
    <br><br>

    <h4>Dice-Lady Game</h4>
    <img src="/images/dice.png" alt="About Image" class="img-fluid" width= "50%px">
    <br>
    <a href="https://mihirc0111.github.io/Dice-Lady-Game-HTML-CSS-JS/">Visit Website</a>
    
<br><br><br><br><br><br>
<%- include("partials/footer"); -%>


